@charset "utf-8";

// Define defaults for each variable.

$base-font-family: Lato, Ubuntu, 'PingFang SC', 'Microsoft YaHei', Arial, Serif;
$code-font: "Source Code Pro", Consolas, "Liberation Mono", Menlo, Courier, monospace;
$quote-font: Palatino, Optima, Georgia, serif;

$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$light-font-weight: 200 !default;
$small-font-size:  $base-font-size * 0.875 !default;

$base-line-height: 1.5 !default;

$spacing-unit:     20px !default;

// Colors
$text-color:             #222222 !default;
$highlight-color:        #fffdd1 !default;
$highlight-border-color: #ffedce !default;

$code-background-color: #f8f9fa !default;
$background-color:      #ffffff !default;
$hr-color:              #cfcfcf !default;

$brand-color:      #00A3BC !default;
$link-color:       #b4e7f8 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    768px !default;

$on-palm:          480px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('//lib.f2ex.cn/cdn/googlefonts/css/Ubuntu.css?family=Ubuntu');
