* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizelegibility;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

caption, th {
  text-align: left;
}


/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}


/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  position: relative;
  font-family: $quote-font;
  font-weight: $base-font-weight;
  color: $grey-color;
  border-left: 0.2em solid $grey-color-light;
  padding-left: 1em;
  margin: 1em 3em 1em 2em;

  @include relative-font-size(1.125);

  > :last-child {
    margin-bottom: 0;
  }
}

@include media-query($on-palm) {
  blockquote {
    margin: 1em 0;
  }
}

del {
  text-decoration: line-through;
}

/**
 * Sub & Sup
 */
 sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

:root sub, :root sup {
  vertical-align: baseline; /* for ie9 and other modern browsers */
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/**
 * Highlight
 */
mark {
  background: $highlight-color;
  border-bottom: 1px solid $highlight-border-color;
  padding: 2px;
  margin: 0 5px;
}


/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  font-family: $code-font;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: $code-background-color;
}

// code {
//   padding: 1px 5px;
// }

pre {
  padding: 1em 1.5em;
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

hr {
  border: none;
  border-bottom: 1px solid $hr-color;
  margin-bottom: 0.8em;
  height: 10px;
}

/**
 * post 排版
 */

 strong, b {
  font-weight: bold;
  color: $text-color;
}


/**
 * Wrapper
 */
.wrapper {
  max-width: $content-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: $content-width;
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/**
 * Clearfix
 */
%clearfix:before, %clearfix:after {
  content: "";
  display: table;
}

%clearfix:after {
  clear: both;
}

%clearfix {
  zoom: 1;
}



/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $grey-color;
  }
}

.social-media-list {
  .icon {
    padding-right: 5px;
  }

  li + li {
    padding-top: 5px;
  }
}

// Config TOC
// Adding 'Contents' headline to the TOC
// #markdown-toc::before {
//   content: "目录";
//   font-weight: bold;
// }

#markdown-toc {
  display: inline-block;
}

#markdown-toc ul {
  margin-bottom: 0;
}

#markdown-toc a {
  color: $brand-color;
  border-bottom: 0;
  box-shadow: none;
}
