---
layout: default
---

<article class="post">

    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    <!-- InstaWidget -->
    <div class="insta-widget">
        <h1>Instagram</h1>
        <a href="https://instawidget.net/v/user/zcccen" id="link-8266a664724a33c432f58dc21631ea49a32ae10e8b57f45b993a60a834540166">@zcccen</a>
        <script src="https://instawidget.net/js/instawidget.js?u=8266a664724a33c432f58dc21631ea49a32ae10e8b57f45b993a60a834540166&width=300px"></script>
    </div>

    <div class="post-content">
            {{ content }}
    </div>

  </article>
